<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>BioskopServlet</servlet-name>
        <servlet-class>rs.ac.singidunum.cinemares.controller.BioskopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilmServlet</servlet-name>
        <servlet-class>rs.ac.singidunum.cinemares.controller.FilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>rs.ac.singidunum.cinemares.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>rs.ac.singidunum.cinemares.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjekcijaServlet</servlet-name>
        <servlet-class>rs.ac.singidunum.cinemares.controller.ProjekcijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaServlet</servlet-name>
        <servlet-class>rs.ac.singidunum.cinemares.controller.SalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistracijaServlet</servlet-name>
        <servlet-class>rs.ac.singidunum.cinemares.controller.RegistracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bioskop2PocetnaServlet</servlet-name>
        <servlet-class>rs.ac.singidunum.cinemares.controller.Bioskop2PocetnaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BioskopServlet</servlet-name>
        <url-pattern>/bioskop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilmServlet</servlet-name>
        <url-pattern>/film</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjekcijaServlet</servlet-name>
        <url-pattern>/projekcija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaServlet</servlet-name>
        <url-pattern>/sala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistracijaServlet</servlet-name>
        <url-pattern>/registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bioskop2PocetnaServlet</servlet-name>
        <url-pattern>/bioskopPocetna</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
